.sidebar {
    background-color: #1C1C1C;
    width: var(--sidebar-width);
    height: 100%;
    z-index: 800;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 38px;
    overflow: auto;
} 

.sidebar-content {
    width: 100%;
    position: absolute;
    overflow: auto;
}

.page-viewer {
    padding: 10px 23% 50px;
}

