.comics-search {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #121212;
}

.comics-name {
    width: 650px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 1.5rem;
    padding-left: 20px;
}

.search-center{
    width: 650px;
    margin: 40px auto 40px auto;
    position: relative;
}

.table {
    color: whitesmoke;
}

a {
    color: whitesmoke;
}

a:hover {
    color: gray;
}